<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/update_font_of_style.css' | relative_url }}" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/kiet.css' | relative_url }}" type="text/css">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  {% seo %}
  </head>

  <body>
    <header>
      <div class="inner">
        <a href="{{ '/' | absolute_url }}">
          <h1>{{ site.title }}</h1>
        </a>
        <h2>{{ site.description }}</h2>
        <h2>{{ site.sub_description }}</h2>
        <a href="{{ site.github.github_profile }}" class="button"><small>Follow me on</small> GitHub</a>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          {{ content }}
        </section>

        <aside id="sidebar">
          <p>Menu</p>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Me</a></li>
          </ul>

          <p>Maintained by <a href="{{ site.github.owner_url }}" target="_blank">{{ site.github.owner_name }}</a>.</p>
          <p>Referrence <a href="https://guides.github.com/features/mastering-markdown/" target="_blank">Mastering Markdown</a></p>
          <p>Basic syntax writing this blog <a href="https://help.github.com/articles/basic-writing-and-formatting-syntax" target="_blank">Here</a></p>
          <p>Emoji cheat sheet use for this blog <a href="https://www.webpagefx.com/tools/emoji-cheat-sheet/" target="_blank">Here</a></p>
        </aside>
      </div>
    </div>

    {% if site.google_analytics %}
      {% include google-analytics.html %}
    {% endif %}
  </body>
</html>